<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Learn Courses</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-school text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Online Courses
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Learn
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Course</h3>
                </div>
                <div class="card-body">
                    <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                        <accordion-group>
                            <h5 class="mb-0" accordion-heading>What is Financial Analysis</h5>
                            Financial analysis is the process of evaluating businesses, projects, budgets and other
                            finance-related entities to determine their performance and suitability. Typically,
                            financial analysis is used to analyze whether an entity is stable, solvent, liquid or
                            profitable enough to warrant a monetary investment. When looking at a specific company, a
                            financial analyst conducts analysis by focusing on the income statement, balance sheet, and
                            cash flow statement.
                            <br>

                            <iframe width="560" height="315" src="https://www.youtube.com/embed/84YfHc19-Jw"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </accordion-group>
                        <accordion-group>
                            <h5 class="mb-0" accordion-heading>Financial Analysis</h5>
                            <p> Financial analysis is used to evaluate economic trends, set financial policy, build
                                long-term plans for business activity, and identify projects or companies for
                                investment. This is done through the synthesis of financial numbers and data.
                                ​

                                One of the most common ways to analyze financial data is to calculate ratios from the
                                data to compare against those of other companies or against the company's own historical
                                performance. For example, return on assets (ROA) is a common ratio used to determine how
                                efficient a company is at using its assets and as a measure of profitability. This ratio
                                could be calculated for several similar companies and compared as part of a larger
                                analysis. </p>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <video style="width: 50vh; height: auto" controls loop frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        repea allowfullscreen>
                                        <source
                                            src="https://thumbs.gfycat.com/CoordinatedFoolhardyAsianpiedstarling-mobile.mp4"
                                            type="video/mp4">
                                        Your browser does not support playing this Video
                                    </video>
                                </div>
                                <div class="col-lg-6">
                                    <img src="assets/img/theme/line-graph.jpg" alt="picture" style="height: auto; width: 500px;">
                                </div>
                            </div>

                        </accordion-group>
                        <accordion-group>
                            <h5 class="mb-0" accordion-heading>Financial Analysis</h5>
                            <p>1. What is financial analysis?</p>
                            <br>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">
                                    Process of evaluating business
                                </label>
                            </div>
                            <br>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioInline3" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">
                                    Process of using excel
                                </label>
                            </div>
                            <br>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">
                                    Process of calculating using calculator
                                </label>
                            </div>
                            <br>
                            <p class="mt-3">2. Which are the types of financial analysis?</p>
                            <br>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioInline12" name="customRadioInline12"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline12">
                                    Leverage, Growth, Profitability
                                </label>
                            </div>
                            <br>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline13" name="customRadioInline12"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline13">
                                    Variance, Multiplication, Division
                                </label>
                            </div>
                            <br>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline14" name="customRadioInline12"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline14">
                                    Solid, Air, Gas
                                </label>
                            </div>
                        </accordion-group>
                    </accordion>

                    <br>
                    <div class="text-right">
                        <button class="btn btn-default" (click)="goPageCourses()">Back</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>