<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Total Trainings
									</h5>

									<span class="h2 font-weight-bold mb-0"> 397 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
										<i class="ni ni-active-40"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Total Exam
									</h5>

									<span class="h2 font-weight-bold mb-0"> 156 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
										<i class="ni ni-chart-pie-35"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Online Courses
									</h5>

									<span class="h2 font-weight-bold mb-0"> 24 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
										<i class="ni ni-money-coins"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Performance
									</h5>

									<span class="h2 font-weight-bold mb-0"> 79.65% </span>
								</div>

								<div class="col-auto">
									<div class=" icon icon-shape bg-gradient-info text-white rounded-circle shadow">
										<i class="ni ni-chart-bar-32"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-xl-8">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="row">
								<div class="col-md-4">
									<i class="fa fa-user" style="color: gainsboro; height:2rem; font-size: 2.75em;"></i>
								</div>
								<div class="col-md-8">
									<h3>
										Ali Imran
									</h3>
									<h5>
										<span class="badge badge-pill badge-primary">Premium</span>
									</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<h3>
								Honor Points
							</h3>
							<p>
								539
							</p>
						</div>
						<div class="col-lg-4">
							<h3>
								Badges
							</h3>
							<i class="fab fa-html5" style="color: maroon; height:1rem; font-size: 1.75em;"></i>

							<i class="fab fa-css3" style="color: gold; height:1rem; font-size: 1.75em;"></i>

							<i class="fab fa-drupal" style="color: red; height:1rem; font-size: 1.75em;"></i>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-4">
			<div class="card">
				<!-- <div class="card-header">
					<h5 class="h4 text-black mb-0">My Tier</h5>
				</div> -->
				<div class="card-body">
					<h4 class="my-0">My Tier <i class="fas fa-arrow-right"> </i> <b> SILVER </b></h4>
					<p class="my-0"><small>Earn 120 Honor Points to reach gold</small></p>
					<button type="button" class="btn btn-default btn-sm btn-block my-0">Take Exams</button>
				</div>
			</div>
		</div>

		<div class="col-xl-8">
			<div class="card">
				<div class="card-header bg-secondary">
					<div class="row align-items-center">
						<div class="col">
							<h5 class="h3 mb-0"> Attributes </h5>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="chart">
						<div class="amchart" id="chartdashboard1"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-4">
			<div class=" card">
				<div class=" card-header">
					<h5 class=" h3 mb-0">Discussions</h5>
				</div>

				<div class=" card-body">
					<ul class=" list-group list-group-flush list my--3">
						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<img alt="Image placeholder" src="assets/img/theme/team-1.jpg" />
									</a>
								</div>

								<div class=" col ml--2">
									<h4 class=" mb-0">
										<a href="javascript:void(0)"> John Michael </a>
									</h4>

									<span class=" text-success"> ● </span>

									<small> Online </small>
								</div>

								<!-- <div class=" col-auto">
                                    <button class=" btn btn-sm btn-primary" type="button">
                                        Add
                                    </button>
                                </div> -->
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<img alt="Image placeholder" src="assets/img/theme/team-2.jpg" />
									</a>
								</div>

								<div class=" col ml--2">
									<h4 class=" mb-0">
										<a href="javascript:void(0)"> Alex Smith </a>
									</h4>

									<span class=" text-warning"> ● </span>

									<small> In a meeting </small>
								</div>
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<img alt="Image placeholder" src="assets/img/theme/team-3.jpg" />
									</a>
								</div>

								<div class=" col ml--2">
									<h4 class=" mb-0">
										<a href="javascript:void(0)"> Samantha Ivy </a>
									</h4>

									<span class=" text-danger"> ● </span>

									<small> Offline </small>
								</div>
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<img alt="Image placeholder" src="assets/img/theme/team-4.jpg" />
									</a>
								</div>

								<div class=" col ml--2">
									<h4 class=" mb-0">
										<a href="javascript:void(0)"> John Michael </a>
									</h4>

									<span class=" text-success"> ● </span>

									<small> Online </small>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-xl-12">
			<div class="card">
				<div class=" card-header">
					<h5 class=" h3 mb-0"> My Courses </h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4">
							<div class=" card card-profile">
								<img alt="Image placeholder" class=" card-img-top"
									src="assets/img/theme/img-1-1000x600.jpg" />

								<div class=" card-body pt-2">
									<div class=" text-center">
										<h5 class=" h3">
											Public Speaking for Beginners
										</h5>

										<div class="mb-2">
											<progressbar max="100" [value]="66" type="success" [striped]="true" style="height: 20px;"
												[animate]="true"><i>66 / 100</i></progressbar>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4">
							<div class=" card card-profile">
								<img alt="Image placeholder" class=" card-img-top"
									src="assets/img/theme/img-1-1000x600.jpg" />

								<div class=" card-body pt-2">
									<div class=" text-center">
										<h5 class=" h3">
											Wireless and Network Security
										</h5>

										<div class="mb-2">
											<progressbar max="100" [value]="30" type="success" [striped]="true" style="height: 20px;"
												[animate]="true"><i>30 / 100</i></progressbar>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4">
							<div class=" card card-profile">
								<img alt="Image placeholder" class=" card-img-top"
									src="assets/img/theme/img-1-1000x600.jpg" />

								<div class=" card-body pt-2">
									<div class=" text-center">
										<h5 class=" h3">
											Data Structure and Algorithm
										</h5>

										<div class="mb-2">
											<progressbar max="100" [value]="45" type="success" [striped]="true" style="height: 20px;"
												[animate]="true"><i>45 / 100</i></progressbar>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row row-below">
						<div class="col-lg-4">
							<div class=" card card-profile">
								<img alt="Image placeholder" class=" card-img-top"
									src="assets/img/theme/img-1-1000x600.jpg" />

								<div class=" card-body pt-2">
									<div class=" text-center">
										<h5 class=" h3">
											Advanced Mathematics
										</h5>

										<div class="mb-2">
											<progressbar max="100" [value]="100" type="success" [striped]="true" style="height: 20px;"
												[animate]="true"><i>Completed!</i></progressbar>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4">
							<div class=" card card-profile">
								<img alt="Image placeholder" class=" card-img-top"
									src="assets/img/theme/img-1-1000x600.jpg" />

								<div class=" card-body pt-2">
									<div class=" text-center">
										<h5 class=" h3">
											Arabic Intermediate Level
										</h5>

										<div class="mb-2">
											<progressbar max="100" [value]="34" type="success" [striped]="true" style="height: 20px;"
												[animate]="true"><i>34 / 100</i></progressbar>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4">
							<div class=" card card-profile">
								<img alt="Image placeholder" class=" card-img-top"
									src="assets/img/theme/img-1-1000x600.jpg" />

								<div class=" card-body pt-2">
									<div class=" text-center">
										<h5 class=" h3">
											Python for Beginners
										</h5>

										<div class="mb-2">
											<progressbar max="100" [value]="76" type="success" [striped]="true" style="height: 20px;"
												[animate]="true"><i>76 / 100</i></progressbar>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-12">
			<div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Scoreboard</h3>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select 
                                        name="datatable_length"
                                        aria-controls="datatable"
                                        class="form-control form-control-sm"
                                        (change)="entriesChange($event)"
                                    >
                                        <option value="5" [selected]="tableEntries==5">5</option>
                                        <option value="10" [selected]="tableEntries==10">10</option>
                                        <option value="15" [selected]="tableEntries==15">15</option>
                                        <option value="-1" [selected]="tableEntries==-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                    <input 
                                        type="search"
                                        class="form-control form-control-sm"
                                        placeholder="Search records"
                                        aria-controls="datatable"
                                        (keyup)="filterTable($event)" 
                                    />
                                </label>
                            </div>
                        </div>
                    </div>

                    <ngx-datatable 
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'"
                        [limit]="tableEntries != -1 ? tableEntries:undefined"
                        [rows]="tableTemp" 
                        (activate)="onActivate($event)"
                    >

                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>No.</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.id}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Name</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.name}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Title"></ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Courses Taken</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.course}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Rewarded Points</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.point}}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
		</div>
	</div>