<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Online Courses</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-school text-dark"> </i> </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Online Courses
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class=" card-header">
          <h5 class=" h3 mb-0"> My Courses </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class=" card card-profile">
                <img alt="Image placeholder" class=" card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

                <div class=" card-body pt-2">
                  <div class=" text-center">
                    <h5 class=" h3">
                      Public Speaking for Beginners
                    </h5>

                    <div class="mb-2">
                      <progressbar max="100" [value]="66" type="warning" [striped]="true" style="height: 20px;"
                        [animate]="true"><i>66 / 100</i></progressbar>
                    </div>

                    <button class="btn btn-success" (click)="goPageLearn()">Take Me There!</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class=" card card-profile">
                <img alt="Image placeholder" class=" card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

                <div class=" card-body pt-2">
                  <div class=" text-center">
                    <h5 class=" h3">
                      Wireless and Network Security
                    </h5>

                    <div class="mb-2">
                      <progressbar max="100" [value]="30" type="warning" [striped]="true" style="height: 20px;"
                        [animate]="true"><i>30 / 100</i></progressbar>
                    </div>

                    <button class="btn btn-success" (click)="goPageLearn()">Take Me There!</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class=" card card-profile">
                <img alt="Image placeholder" class=" card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

                <div class=" card-body pt-2">
                  <div class=" text-center">
                    <h5 class=" h3">
                      Data Structure and Algorithm
                    </h5>

                    <div class="mb-2">
                      <progressbar max="100" [value]="45" type="warning" [striped]="true" style="height: 20px;"
                        [animate]="true"><i>45 / 100</i></progressbar>
                    </div>

                    <button class="btn btn-success" (click)="goPageLearn()">Take Me There!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-below">
            <div class="col-lg-4">
              <div class=" card card-profile">
                <img alt="Image placeholder" class=" card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

                <div class=" card-body pt-2">
                  <div class=" text-center">
                    <h5 class=" h3">
                      Advanced Mathematics
                    </h5>

                    <div class="mb-2">
                      <progressbar max="100" [value]="100" type="warning" [striped]="true" style="height: 20px;"
                        [animate]="true"><i>Completed!</i></progressbar>
                    </div>

                    <button class="btn btn-success" (click)="goPageLearn()">Take Me There!</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class=" card card-profile">
                <img alt="Image placeholder" class=" card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

                <div class=" card-body pt-2">
                  <div class=" text-center">
                    <h5 class=" h3">
                      Arabic Intermediate Level
                    </h5>

                    <div class="mb-2">
                      <progressbar max="100" [value]="34" type="warning" [striped]="true" style="height: 20px;"
                        [animate]="true"><i>34 / 100</i></progressbar>
                    </div>

                    <button class="btn btn-success" (click)="goPageLearn()">Take Me There!</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class=" card card-profile">
                <img alt="Image placeholder" class=" card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

                <div class=" card-body pt-2">
                  <div class=" text-center">
                    <h5 class=" h3">
                      Python for Beginners
                    </h5>

                    <div class="mb-2">
                      <progressbar max="100" [value]="76" type="warning" [striped]="true" style="height: 20px;"
                        [animate]="true"><i>76 / 100</i></progressbar>
                    </div>

                    <button class="btn btn-success" (click)="goPageLearn()">Take Me There!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card card-profile">
        <img alt="Image placeholder" class="card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a>
                <img class="rounded-circle bg-blue" src="assets/img/icons/cup.svg" />
              </a>
            </div>
          </div>
        </div>

        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a class="btn btn-sm btn-info mr-4" href="javascript:void(0)">
              Connect
            </a>

            <a class="btn btn-sm btn-default float-right" href="javascript:void(0)">
              Message
            </a>
          </div>
        </div>

        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading"> 22 </span>

                  <span class="description"> Course Taken </span>
                </div>

                <div>
                  <span class="heading"> 5 </span>

                  <span class="description"> Course Completed </span>
                </div>

                <div>
                  <span class="heading"> 17 </span>

                  <span class="description"> Course Pending </span>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <h5 class="h3">
              Badges
            </h5>

            <div class="row">
              <div class="col">
                <a href="#!" class="avatar avatar-xl rounded-circle bg-green">
                  <img alt="Image placeholder" src="assets/img/icons/medal-1.svg">
                </a>
              </div>
              <div class="col">
                <a href="#!" class="avatar avatar-xl rounded-circle bg-green">
                  <img alt="Image placeholder" src="assets/img/icons/medal-2.svg">
                </a>
              </div>
              <div class="col">
                <a href="#!" class="avatar avatar-xl rounded-circle bg-green">
                  <img alt="Image placeholder" src="assets/img/icons/medal-3.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>